POSTGRES_USER=crypto_trending
POSTGRES_PASSWORD=replace_with_a_url_safe_password
POSTGRES_DB=crypto_trending
POSTGRES_PORT=5432
WATCHLIST_DATABASE_URL=postgres://crypto_trending:replace_with_a_url_safe_password@127.0.0.1:5432/crypto_trending?sslmode=disable
